<div class="flex w-full">
  <div class="loginContainer flex-col w-1/4 mx-10">
    <div class="branding flex items-center h-16 w-96">
      <span
        class="text-2xl text-custom-blue-500 font-bold uppercase tracking-widest"
      >Strive</span>
    </div>
    <span class="block mt-8 font-semibold text-custom-blue-500">Join our
      community</span>
    <h2 class="mt-4 text-custom-darkblue-500 font-extrabold text-3xl">
      Lorem ipsum dolor sit amet, adipiscing.
    </h2>
    <p class="pt-6 text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet
      magna, vel finibus orci hendrerit at.
    </p>
    <form action="" class="mt-12">
      <label
        for="username"
        class="block text-sm font-medium text-gray-700"
      >Username</label>
      <input
        type="text"
        name="username"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-custom-blue-500 focus:ring-custom-blue-500 sm:text-sm"
      />
      <label
        for="password"
        class="mt-4 block text-sm font-medium text-gray-700"
      >Password</label>
      <input
        type="password"
        name="password"

        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-custom-blue-500 focus:ring-custom-blue-500 sm:text-sm"
      />
      <div class="flex justify-between items-center gap-2">
        <span class="inline-flex py-2 mt-4 text-sm text-gray-500">Don’t have an
          account?&nbsp;<a
            href="/register"
            class="text-custom-blue-500 font-semibold underline"
          >
            Sign up</a>
        </span>
        <button
          type="submit"
          class="inline-flex justify-center rounded-md border mt-4 border-transparent bg-custom-blue-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-custom-blue-600 focus:outline-none focus:ring-2 focus:ring-custom-blue-500 focus:ring-offset-2"
        >
          Login
        </button>
      </div>
    </form>
  </div>
  <img
    class="block w-3/4 object-cover h-screen overflow-hidden"
    src="/images/martin-sanchez-cO8_G27Azgw-unsplash.jpg"
    alt=""
  />
</div>