<h2>My Activities</h2>
<br>
{{#each posts}}
 <h3>{{title}} <button><a href="/myActivities/{{_id}}/edit">Edit</a></button>
 <form action="/myActivities/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
{{/each}}

<button><a href="/profile">To Profile Page</a></button></h3>
 