<h2>My Activities</h2>
<br>
{{#each posts}}
 <h3>{{title}}  </h3> 
 <button><a href="/myActivities/{{_id}}/edit">Edit</a></button>
  <form action="/myActivities/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
{{/each}}