<h2>Settings Screen</h2>
<a href="/profile">Profile</a>
<form action="/settings" method="post" enctype="multipart/form-data">
  <label for="email">email</label>
  <input type="email" name="email" />
  <label for="location">Location</label>
  <input type="text" name="location" />
  <label for="birthday">Birthday</label>
  <input type="date" name="birthday" />
  <label for="avatar">Avatar</label>
  <input type="file" name="avatar" />
  <button type="submit"></button>
</form>