{{> createActivity}}
<button><a href="/createActivity">Add Activity</a></button>
<br />
Posts:
{{#each posts}}
    <li>
        {{ title }}
        {{ time }} kilometers
        {{ duration }} minutes
        {{ description }}
        
    </li>
  {{/each}}
<br />
<button><a href="/login">Logout</a></button>
